.gtb-art-b {
    font-weight: bold;
}
.gtb-art-i {
    font-style: italic;
}
.gtb-art-em {
    font-style: italic;
}
.gtb-art-sc {
    font-variant: small-caps;
}

span.gtb-art-xr:before {
    content: '\20\25b6\a0'; // Donker driehoekje, wijst naar rechts
    font-style: italic;
    color: #111971;
}