.monospace {
    font-family: 'courier new', courier, fixed, monospace;
}

#help-subjects h1, div.helptext h1, div.helptext h2, div.helptext h3, div.helptext b {
    color: #111971; /*  light-blue, as also defined in gtb.css, --light-blue. */
}

code .knop {
  font-weight: bold;
  border-style: outset
}

/* help links */
.gtb-helplink {
    display: inline-block; 
    padding: 6px 12px 6px 0px;
    position: relative;
    text-decoration: none!important;
}

.gtb-helplink:hover,
.gtb-helplink:active
.gtb-helplink:focus,
.gtb-helplink.active {
    font-weight: bold;
}

.gtb-helplink:after {
    content: " ";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: -3px;
    border-bottom: 2px solid white;
    -webkit-transition: all 250ms ease 0s;
            transition: all 250ms ease 0s;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
}

.gtb-helplink:hover:after,
.gtb-helplink:active:after,
.gtb-helplink:focus:after,
.gtb-helplink.active:after {
    border-bottom-color: #111971;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
}