@font-face{
    font-family: gtb;
    src: url('../fonts/INLVRG__.TTF');
}

@font-face{
    font-family: gtbi;
    src: url('../fonts/INLVI___.TTF');
}

@font-face{
    font-family: gtbb;
    src: url('../fonts/INLVB___.TTF');
}

@font-face{
    font-family: gtbbi;
    src: url('../fonts/INLVBI__.TTF');
}

body {
    font-family: verdana, helvetica, sans-serif
}

.tab-content{
    margin-top: 2em;
}

.zoek-formulier{
    margin-left: 10%;
    margin-right: 10%;
}

.formuliertitel{
    font-weight: bold;
    font-size: larger;
}

.formulierregel{
    background-color: lightgray;
    font-size: smaller;
    padding: 3px;
}

.formulierlabel{
    display: inline;
}

.formulierinput{
    display: inline;
}

.gtb-disabled{
    opacity: 0.5;
    cursor: wait;
}

.gtb-wait{
    z-index: 2000;
    position: absolute;
    /*  De percentages zijn een grove benadering. */
    background-color: transparent;
    top: 45%;
    left: 45%;
}

.gtb-waiticon:before{
    font-family: "Glyphicons Halflings";
    content: "";
}

.gtb-waiticon{
    animation-name: tolletje;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction:normal;
    animation-iteration-count:infinite;
    animation-play-state: running;
    
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
}

@keyframes tolletje {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.gtb-tekstveld, .gtb-selectveld{
    width: 75%;
    font-family: gtb, Verdana, sans-serif;
    display: inline;
}

.gtb-woordsoortveld{
    width: 75%;
    display: inline;
}

.woordsoortassistentieknop{
    width: 20%; /*  25% is teveel, bij 24% geen wrap. Lager lijkt veiliger. */
}

table.speciaalteken,
td.speciaalteken{
    font-family: gtb, Verdana, sans-serif;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

td.speciaalteken{
    width: 10em;
    text-align: center;
    cursor: pointer;
}

td.speciaalteken:hover{
    background-color: lightgray;
}

td.speciaalteken:active{
    box-shadow: 0 5px lightgray;
    transform: translateY(2px);
}

.gtb-collapsed:before{
    content: '▶ ';
}

.gtb-expanded:before{
    content: '▼ ';
}

.gtbcheckbox, .gtbradio{
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.gtb-resultaatknoppen {
   margin-top: 1em;
   margin-bottom: 1em; 
}

/* We gebruiken een eigen class in plaats van die van Bootstrap om te zorgen dat we beide namen kunnen gebruiken zonder eventuele gekoppelde GTB-logica in XSLT of Javascript te verstoren.  */
.gtb-hidden{
    display: none;
}

.gtb-inspring {
    padding-left: 2em;
}

/*input[type=checkbox]:before, .gtbcheckbox:before {
    content: "[";
    display: inline;
    color:red;
}
input[type=checkbox]:after, .gtbcheckbox:after {
    content: "]";
    display: inline;
    color:red;
}*/

.formulierinput label{
    width: 18%;
    white-space: nowrap;
}

.woordsoorttable{
    margin-left: 2em;
    padding-left: 1em;
    padding-right: 1em;
    border-style: dotted;
    border-width: 1px;
    width: 80%;
}

.gtb-xml-error{
    background-color: yellow;
    font-family:monospace;
    font-size: smaller;
}

.gtb-statcount{
    font-weight: bold;
}

.gtb-wdbcol-line{
    width: 5%;
}
.gtb-wdbcol-wdb{
    width: 10%;
}
.gtb-wdbcol-modern_lemma{
    width: 15%;
}
.gtb-wdbcol-lemma{
    width: 15%;
}
.gtb-wdbcol-woordsoort{
    width: 15%;
}
.gtb-wdbcol-auteur{
    width: 15%;
}
.gtb-wdbcol-titel{
    width: 50%;
}
.gtb-wdbcol-datering{
    width: 10%;
}
.gtb-wdbcol-lokalisering{
    width: 10%;
}
.gtb-wdbcol-anders{
    /*  rest */
}

div.gtb-results{
    font-family: gtb, Verdana, sans-serif;
    height: 70vh;
    overflow-y: scroll;
}

div.gtb-results i{
    font-family: gtbi, Verdana, sans-serif;
}

div.gtb-results b{
    font-family: gtbb, Verdana, sans-serif;
}

div.gtb-results i b,
div.gtb-results b i{
    font-family: gtbbi, Verdana, sans-serif;
}

#gtb-result-table th {
    text-align: left;
}
tr.gtb-result-row:hover {
    /*  Dit werkt nog niet */
    border-style: dotted;
    border-color: blue;
}
td.conc {
}
.gtb-conc-line {
    white-space: nowrap;
    display: block;
    clear: both;
}
.gtb-conc-voor {
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    width: 15em;
    float:left;
}

.gtb-conc-zoekwoord {
    font-weight: bold;
}

.gtb-conc-na {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 15em;
}

div.gtb-zoekvragen-geschiedenis {
    min-height: 40vh;
    max-height: 40vh;
    overflow:auto;
}

.gtb-zoekvraag-description{
    font-size: smaller;
}


.gtb-input-value {
    font-weight: bold;
}

tr.gtb-result-row > td{
    height: 3em;
    vertical-align: top;
}

tr.gtb-result-row:nth-child(even){
    background-color: #fff
}

tr.gtb-result-row:nth-child(odd){
    background-color: #ccc
}

.gtb-wdb-onw{
    color: orange;
}

.gtb-wdb-vmnw{
    color: red;
}

.gtb-wdb-mnw{
    color: green;
}

.gtb-wdb-wnt{
    color: brown;
}

.gtb-wdb-wft{
    color: blue;
}

.gtb-homoniemnr{
    vertical-align: super;
    font-size: 80%;
}

.gtb-pagineringsknoppen{
    float: right;
}
.resultaatknop {
    margin-top: 1.5em;
}

/*  Verberg de resultaatknoppen in de auxiliaries-sectie, maar toon ze wanneer ze worden opgeroepen in de content. */
.auxiliaries > .gtb-resultaatknoppen {
    display: none;
}

.gtb-typeahead-word {
    font-weight: bold;
}

.gtb-typeahead-wdb {
    font-style: italic;
    padding-left: 4em;
    float: right;
}