@font-face{
    font-family: gtb;
    src: url('../fonts/INLVRG__.TTF');
}

@font-face{
    font-family: gtbi;
    src: url('../fonts/INLVI___.TTF');
}

@font-face{
    font-family: gtbb;
    src: url('../fonts/INLVB___.TTF');
}

@font-face{
    font-family: gtbbi;
    src: url('../fonts/INLVBI__.TTF');
}

body {
    font-family: verdana, helvetica, sans-serif
}

/* background image, style via pseudo-element omdat we zo transparantie kunnen zetten in oudere browsers */
body:before {
    content: " ";
    
    background-color: #FFF;
    background-image: url(../img/gtb-logo-header.svg);
    background-repeat: no-repeat;
    
    opacity: 0.06;
    z-index: -1000;
    
    position: fixed;
    width: 100%;
    height: 100%;
    left: 15%;
}

.zoek-formulier{
 }

.formuliertitel{
    font-weight: bold;
    font-size: larger;
}

.formulierregel {
    margin-bottom: 8px;
}

.formulierlabel{
    margin-bottom: 3px;
}

.formulierinput {
    
}

.formulierinput .form-control[type=text] {
    height: 30px;
    padding: 4px 8px;
}

.formulierinput .btn {
    padding: 4px 10px;
}

.helpregel {
    margin-top: 35px;
}

.gtb-disabled{
    opacity: 0.5;
    cursor: wait;
}

.gtb-wait{
    z-index: 2000;
    position: absolute;
    /*  De percentages zijn een grove benadering. */
    background-color: transparent;
    top: 45%;
    left: 45%;
}

.gtb-waiticon:before{
    font-family: "Glyphicons Halflings";
    content: "";
}

.gtb-waiticon{
    animation-name: tolletje;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction:normal;
    animation-iteration-count:infinite;
    animation-play-state: running;
    
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
}

@keyframes tolletje {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.gtb-tekstveld, .gtb-selectveld{
    font-family: Verdana, sans-serif, gtb;
}

.gtb-woordsoortveld{
    width: 75%;
    display: inline;
}

div.speciaalteken {
    margin: 10px 0px 20px 0px;
}

table.speciaalteken,
td.speciaalteken{
    font-family: Verdana, sans-serif, gtb;
}

table.speciaalteken {
    table-layout: fixed; 
    width: 100%;
    background-color: rgba(255,255,255,0.7);
}

td.speciaalteken{
    width: 1px; /* arbitrair, is meer een soort noemer over de deler van het totaal aantal width in de rij voor fixed layout tables */
    padding: 3px;
    text-align: center;
    cursor: pointer;
    /* bootstrap inputs nadoen */
    border: 1px solid #CCC!important; /*  bootstrap override het een en ander */
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

td.speciaalteken:hover{
    background-color: #EEE;
}

td.speciaalteken:active{
    background-color: #DDD;
    box-shadow: inset 0px 1px 6px -1px rgba(0,0,0,0.3);
}

.gtb-expanded,
.gtb-collapsed {
    position:relative;
    font-weight: bolder;
}

.gtb-collapsed:before{
    content: '▶';
    position: absolute;
    left: -15px;
}

.gtb-expanded:before{
    content: '▼';
    position: absolute;
    left: -15px;
}

.gtbcheckbox, .gtbradio{
}

#resultaathouder {
    background-color: rgba(255,255,255,0.8);
}

.gtb-resultaatknoppen {
   margin-top: 1em;
   margin-bottom: 1em; 
}

.gtb-zoek-button {
}

/* We gebruiken een eigen class in plaats van die van Bootstrap om te zorgen dat we beide namen kunnen gebruiken zonder eventuele gekoppelde GTB-logica in XSLT of Javascript te verstoren.  */
.gtb-hidden{
    display: none;
}

.gtb-inspring {
    padding-left: 15px;
}

/*input[type=checkbox]:before, .gtbcheckbox:before {
    content: "[";
    display: inline;
    color:red;
}
input[type=checkbox]:after, .gtbcheckbox:after {
    content: "]";
    display: inline;
    color:red;
}*/

.woordsoorttable{
    margin-left: 2em;
    padding-left: 1em;
    padding-right: 1em;
    border-style: dotted;
    border-width: 1px;
    width: 80%;
}

.gtb-xml-error{
    background-color: yellow;
    font-family:monospace;
    font-size: smaller;
}

.gtb-statcount{
    font-weight: bold;
}

.gtb-wdbcol-line{
    width: 5%;
}
.gtb-wdbcol-wdb{
    width: 10%;
}
.gtb-wdbcol-modern_lemma{
    width: 15%;
}
.gtb-wdbcol-lemma{
    width: 15%;
}
.gtb-wdbcol-woordsoort{
    width: 15%;
}
.gtb-wdbcol-auteur{
    width: 15%;
}
.gtb-wdbcol-titel{
    width: 50%;
}
.gtb-wdbcol-datering{
    width: 10%;
}
.gtb-wdbcol-lokalisering{
    width: 10%;
}
.gtb-wdbcol-anders{
    /*  rest */
}

div.gtb-results{
    font-family: Verdana, sans-serif, gtb;
    max-height: 70vh;
    overflow-y: auto;
    margin-bottom: 35px;
}

div.gtb-results i{
    font-family: Verdana, sans-serif, gtbi;
}

div.gtb-results b{
    font-family: Verdana, sans-serif, gtbb;
}

div.gtb-results i b,
div.gtb-results b i{
    font-family: Verdana, sans-serif, gtbbi;
}

td.conc {
}
.gtb-conc-line {
    white-space: nowrap;
    clear: both;
}
.gtb-conc-voor {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    direction: rtl;
    width: 15em;
    vertical-align: top;
}

.gtb-conc-zoekwoord {
    font-weight: bold;
    vertical-align: top;
    display: inline-block;
}

.gtb-conc-na {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 15em;
    display: inline-block;
    vertical-align: top;
}

div.gtb-zoekvragen-geschiedenis {
    min-height: 40vh;
    max-height: 40vh;
    overflow:auto;
}

.gtb-zoekvraag-description{
    font-size: smaller;
}


.gtb-input-value {
    font-weight: bold;
}

#gtb-result-table th {
    text-align: left;
}

tr.gtb-result-row > td{
    height: 3em;
    vertical-align: top;
}

tr.gtb-result-row{
    /* cursor: pointer; */
}

.gtb-wdb-onw{
    color: orange;
}

.gtb-wdb-vmnw{
    color: red;
}

.gtb-wdb-mnw{
    color: green;
}

.gtb-wdb-wnt{
    color: brown;
}

.gtb-wdb-wft{
    color: blue;
}

.gtb-homoniemnr{
    vertical-align: super;
    font-size: 80%;
}

.gtb-pagineringsknoppen{
    float: right;
}
.resultaatknop {
    margin-top: 1.5em;
}

/*  Verberg de resultaatknoppen in de auxiliaries-sectie, maar toon ze wanneer ze worden opgeroepen in de content. */
.auxiliaries > .gtb-resultaatknoppen {
    display: none;
}

.gtb-typeahead-word {
    font-weight: bold;
}

.gtb-typeahead-wdb {
    font-style: italic;
    padding-left: 4em;
    float: right;
}

/* color variables for testing */
:root {
    --main-blue: #00042E;
    --main-blue-lighter: #040a49;
    --light-blue: #4285F4;
    --header-gradient: #29617d;
}

/* Bootstrap */

.tab-content {
    margin: 25px 15px;
}

.form-horizontal .checkbox-inline {
    vertical-align: baseline;
}

.pagination {
    margin: 0px;
}

.pagination > li {
    display: inline-block;
}

.pagination > li > ul {
    /* geen float, anders wordt de baseline van de button anders en aligned de boel niet meer met andere buttons */
    /* Alleen opletten dat we geen whitespace tussen closers en openers hebben in de html... zie https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
    float: none;
    display: inline-block;
}

/* tabs */
/* tabs */
.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs>li>a {
    border: none;
    color: #666;
    margin-right: 0px;
    background: transparent;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
    background-color: transparent;
    color: var(--light-blue);
    border: none;
}

.nav-tabs>li>a::after {
    content: "";
    background: var(--light-blue);
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.tab-nav>li>a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

/* collapse */

/* 
 * bootstrap panel styling ongedaan maken
 * Waarom in de eerste plaats collapsibles in een .panel wrapper hangen? 
 * Omdat anders bootstrap collapse accordion niet werkt :(  
 */
.gtb-collapse-wrapper.panel {
    margin: 0px;
    padding: 0px;
    border: none;
    background: transparent;
    box-shadow: none;
    border-radius: 0px;
}

/* 
 * Zorg dat margins van alle child elementen binnen onze collapse wrapper blijft, en niet collapsed met elementen buiten de wrapper.
 * 
 * Waarom? nou, terwijl een bootstrap collapse element aan het in/uitklappen is, heeft hij overflow:hidden
 * Dit is logisch omdat het collapsen alleen maar de height naar 0px schaalt en dan display:none doet.
 * Als het zou kunnen overflowen zou je het collapsen niet kunnen zien.
 * 
 * Een bij-effect hiervan is dat de margins van het bovenste/onderste child in het collapse element tijdens het in/uitklappen
 * niet langer overlappen met de margins van elementen boven/onder de container. 
 * Dit zorgt er voor dat wanneer zo'n overlap groter is dan een paar px, 
 * de boel tijdelijk verspringt tijdens het in/uitklappen.
 * 
 * Hiermee kunnen we zorgan dat die margins in de eerste plaats al niet overlappen
 * gewoon altijd overflow:hidden zetten is een andere manier van dit doen, maar dan is je overflow weer niet zichtbaar meer
 * en overflowen is wel handig om dingen als carets voor child collapsibles over de linkerkant van de container laten hangen. 
 */
.gtb-collapse-wrapper.panel:before,
.gtb-collapse-wrapper.panel:after {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: -1px;
}

.gtb-collapse .gtb-collapse {
    padding-left: 15px;
}

.gtb-collapse-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.gtb-collapse-label > a {
    position: relative;
}
.gtb-collapse-label > a > .fa {
    position: relative;
    left: -15px;
    width: 0px;
    overflow: visible;
}
.gtb-collapse-label > a[aria-expanded="true"] > .fa-caret-right {
    display: none;
}
.gtb-collapse-label > a:not([aria-expanded="true"]) > .fa-caret-down {
    display: none;
}

/*  woordsoorten */
.gtb-woordsoort-container {
    padding-left: 15px;
}

.gtb-woordsoort.checkbox-inline {
    display: block;
}
.gtb-woordsoort.checkbox-inline+.gtb-woordsoort.checkbox-inline {
    margin-left: 0px;
    margin-top: 3px;
}

/* header */

.gtb-header {
    /* background: -webkit-linear-gradient(90deg, var(--main-blue) 10%, var(--header-gradient) 90%); 
    background:    -moz-linear-gradient(90deg, var(--main-blue) 10%, var(--header-gradient) 90%); 
    background:     -ms-linear-gradient(90deg, var(--main-blue) 10%, var(--header-gradient) 90%); 
    background:      -o-linear-gradient(90deg, var(--main-blue) 10%, var(--header-gradient) 90%); 
    background:         linear-gradient(90deg, var(--main-blue) 10%, var(--header-gradient) 90%);  */

    background-color: var(--main-blue);

    height: 100px;
    padding-bottom: 12px;
    margin-bottom: 25px;

    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.15)
}

.gtb-header > .container {
    height: 100%;
    display: flex;
}

.gtb-header-flex-container {
    max-height: 100%;
    display: flex;
}

.gtb-header-logo {
    height: calc(100% + 20px); /* break out of the parent container by 12px padding + 8px for effect  */
    width: auto;
    
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
    padding: 1px;
    padding-top: 0px;
    border: 2px solid var(--main-blue);
    border-top: none;
    border-radius: 2px;
}

.gtb-header-content {
    flex-grow: 1;
    align-self: flex-end; /* align contents with bottom of parent bar */
    display: flex;

    border-bottom: 2px solid #DDD; 
    padding-left: 25px;
    margin-left: 10px;
    height: 100%;
}

.gtb-header-title {
    flex-grow: 1;
    align-self: flex-end;
    color: #EEE;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}

.gtb-header-logo-ivdnt {
    align-self: flex-start;
    height:100%;
    width: auto;
    padding: 2px 0px 5px 0px;
    display: block;
}
.gtb-header-logo-ivdnt>img {
    height: 100%;
    width: auto;
}